html, body {
  height: 100%;
}

body {
  background: linear-gradient(rgb(45,196,212), rgb(222, 240, 242));
  background-size: cover; /* ajusta o tamanho do fundo para cobrir toda a tela */
  
  font: normal 15pt Arial;
  min-height: 100%; /* Defina a altura mínima da página como 100% */
  height: 100%; /* ajusta a altura da página para cobrir toda a tela */
   
}

input[type="text"] {
    background-color: #efeaef;
    border-radius: 5px;
    border: 2px solid black; /* adiciona borda preta */
    padding: 10px;
    color: #000000;
    font-size: 16px;
    width: 400px; /* aumenta a largura */
}
.btn { /* todos os botões config*/
    background-color: rgb(75, 200, 138);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    animation: swing 0.5s ease-in-out infinite alternate;
  }
  @keyframes swing {
    0% {
      transform: translateX(1px);
    }
    20% {
      transform: translateX(1px);
    }
    40% {
      transform: translateX(-1px);
    }
  }

  
header {
    color: aliceblue;
    text-align: center; 
    
}
section {
    background:rgb(255, 255, 255);
    border-radius:  50px;
    padding: 50px;
    width:  600px;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(11, 171, 174); 
    position: relative;
}

div {
    text-align: center;
    padding:  30px;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    font-style:  italic;
    background-color: transparent;

}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;  
  font-family: Arial, sans-serif;
  color: #444;
}

td, th {
  padding: 10px;  
  text-align: left;
  border: 3px solid rgb(45,196,212);
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;; /* cor de fundo para linhas pares */
}

tr:hover {
  background-color: #c2c3c5; /* cor de fundo para linhas quando o mouse passa sobre elas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

th {
  background-color: #4CAF50;
  color: white;
  min-width: 100px;
  font-weight: bold;
}
td:nth-child(2) {
  white-space: nowrap;
}
button {
  background-color: red;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 20px;
  padding: 10px 20px;
}
.loader {
  width: 200px;
  height: 140px;
  background: #979794;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  border-radius:8px;
  perspective: 600px;
}

.loader:before{
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius:8px;
  background: #f5f5f5  no-repeat;
  background-size: 60px 10px;
  background-image: 	linear-gradient(#ddd 100px, transparent 0) ,
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0);
  
  background-position: 15px 30px , 15px 60px , 15px 90px, 
            105px 30px , 105px 60px , 105px 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.loader:after {
  content: '';
    position: absolute;
    width: calc(50% - 10px);
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 8px;
    background: #fff no-repeat;
    background-size: 60px 10px;
    background-image: linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0);
    background-position: 50% 30px ,50% 60px , 50%  90px;
    transform: rotateY(0deg );
    transform-origin: left center;
  animation: paging 1s linear infinite;
}

.hidden {
  display: none;
}

@keyframes paging {
  to {
    transform: rotateY( -180deg );
  }
}
#baixar {
  background-color: blue;
  color: white;
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 1;
  font-size: 20px;
  padding: 10px 20px;
}

